
{% extends 'base.html' %}
{% macro is_required(k) %}
{% endmacro %}
<!-- {%raw%} disable this for now
{% macro is_required(k) %}
    {% if k.required %}
        required
    {% endif %}
{% endmacro %}
{%endraw%}-->
{% macro get_exclusive(k) %}
    {% if k.extension %}
          {% for m in k.extension %}
              {% if m.url == 'http://hl7.org/fhir/StructureDefinition/questionnaire-optionExclusive' and m.valueBoolean == True %}
              <span style="color:red">EXCLUSIVE OPTION</span>
             {% endif %}
          {% endfor %}
    {% endif %}
{% endmacro %}


{% macro get_score(k) %}
    {%- if k.extension -%}
          {%- for m in k.extension -%}
            {%- if m.url == 'http://fhir.org/guides/argonaut-questionnaire/StructureDefinition/extension-score' -%}
              {{m.valueDecimal}}
              {%- else -%}
                NA
             {%- endif -%}
          {%- endfor -%}
        {%- elif k.valueCoding.extension -%}
          {%- for m in k.valueCoding.extension -%}
            {%- if m.url == 'http://hl7.org/fhir/StructureDefinition/valueset-ordinalValue' -%}
            {{m.valueDecimal}}
            {%- else -%}
              NA
            {%- endif -%}
          {%- endfor %}
    {%- else -%}
      NA
    {%- endif -%}
{% endmacro %}



{%- macro input(j, type='text', value = '', size=20, min = '', step = '') %}
    <input type="{{ type }}" name="{{j.linkId}}" value="{{value|e }}" min="{{min|e }}" step="{{step|e }}" size="{{ size }}" {{ is_required(j) }}> {{ '(Score = %s)'|format(get_score(j)|default('NA')) }}<br />
{% endmacro -%}


{% macro choice_type(j) %}
  {% for k in j.option %}
     {% if k.valueCoding %}
       <input type='radio' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}' {{ is_required(j) }}/>{{ k.valueCoding.display}} {{ '(Score = %s)'|format(get_score(k)|default('NA')) }}  <br />
    {% else %}
        <input type='radio' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}}  {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} <br />
    {% endif %}
  {% endfor %}
  {% if j.type == 'open-choice' %}
  <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }} />Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;"  }}/>
  {% endif %}
{% endmacro %}


{% macro anyof_type(j) %}
    {% for k in j.option %}
      <!-- on the item - for codings -->
      {% if k.valueCoding %}
         <input type='checkbox' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}'{{ is_required(j) }} />{{ k.valueCoding.display}} {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} {{get_exclusive(k)}}<br />
      {% else %}
        <input type='checkbox' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}}  {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} <br />
       {% endif %}
    {% endfor %}
    {% if j.type == 'open-choice' %}
    <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }}/>Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;" />
    {% endif %}
{% endmacro %}

<!-- select Q --->

{% block content %}


  <p>
    This application uses the <i>{{ref_server_name}}</i> FHIR reference implementation at <code>{{ref_server}}</code> as the Assessment Bank.</p>

<h4>Example Questionnaires available for testing:</h4>
  <form name="myForm" action="{{ url_for("static_view") }" method="post">

    <input type="radio" name="options" id="option1" value="{{ ref_server }}Questionnaire/eTAtxwTlJcwLaR-aif62yGg3" required> Rand 36-Item Health Survey 1.0</input><br>
    <input type="radio" name="options" id="option1" value="{{ ref_server }}Questionnaire/questionnaire-example-audit" required> The Alcohol Use Disorder Identification Test (AUDIT) Form</input><br>
    <input type="radio" name="options" id="option2" value="{{ ref_server }}Questionnaire/questionnaire-example-asq3"> Ages and Stages Questionnaire (ASQ-3) Sample 16 Month Questionnaire</input><br>
    <input type="radio" name="options" id="option3" value="{{ ref_server }}Questionnaire/questionnaire-example-dast"> Drug Abuse Screening Test (DAST-10)</input><br>
    <input type="radio" name="options" id="option4" value="{{ ref_server }}Questionnaire/questionnaire-example-housing"> Housing Instability Questionnaire</input><br>
    <input type="radio" name="options" id="option5" value="{{ ref_server }}Questionnaire/questionnaire-example-phq9"> Patient Health Questionnaire-9 (PHQ-9)</input><br>
    <input type="radio" name="options" id="option6" value="{{ ref_server }}Questionnaire/questionnaire-example-sampler">Argonaut Questionnaire Sampler</input><br>

<!-- ===========not available in 3.4 for AWS deployment
  <br />
  <input type="checkbox" name="translate" value="es"> Spanish Language Version
  <br />  <br />
-->


  <input type="submit" value="Choose Example Questionnaire">
</form>


<!-- end select Q --->

<!-- Q content -->
{% if q %}
<a href="{{ ref_server }}Questionnaire/{{q.id}}">Questionnaire as XML</a>
<br />
<a href="{{ url_for("q_view") }}">Questionnaire as JSON</a>
<h3>{{q.title}}</h3>
<hr />
<p><i>Copyright information: {{q.copyright|safe}}</i></p>
<br /><br />
<form action='{{url_for('qr_view') }}' method='POST'>

<ol style = 'list-style-type: none;'>
<!-- ********root level**********-->
{% for i in q.item %}

<!-- ********outer group**********-->
     {% if i.type == "group" %}

      {% if i.text and not i.extension %}  <!-- check if hidden stub in for now need to add url later -->
        <h4>{{i.text}}</h4>
      {% endif %}



      <!-- iterate through all the questions in the groups -->
      <ol style = 'list-style-type: none;'>

<!-- **********group level items********** -->

            {% for j in i.item %}

                <!--display items-->
                {% if j.type == "display" and j.extension %} <!-- display ( add in hidden) -->
                  <li style = 'color: grey;' id='{{j.linkId}}'>{{j.prefix|default('', true)}}{{j.text}} (Hidden text: extension {{j.extension[0].url}} = true)</li>
                  <br />
                {% elif j.type == "display"%}
                <li id='{{j.linkId}}'><strong>{{j.prefix|default('', true)}}{{j.text}}</strong></li>
                <br />

                <!-- questions -->
                {% else %}
                  <li id='{{j.linkId}}'><strong>{{j.prefix|default('', true)}}</strong>  {{j.text}}</li>
                  <br />
                  <!--multiple choice question -->
                  {% if (j.type == "choice" or j.type == "open-choice") and j.option %}
                       {%if j.repeats %}
                        {{ anyof_type(j) }}  <!--any of macro -->
                       {% else %}
                        {{ choice_type(j) }}  <!--one of macro -->
                       {% endif %}


                  {% elif j.type == "boolean"%} <!-- make this checkbox type -->
                    <p>{{ input(j = j, type="checkbox", value="true") }}</p>

                  {% elif j.type == "integer" %}
                  <p>{{ input(j = j, type="number", value = 0, min = "0" ) }}</p>

                  {% elif j.type == "decimal" %}
                  <p>{{ input(j = j, type="number", value = 0, min = "0", step = "0.01") }}</p>

                  {% elif j.type == "quantity" %}  <!-- need score consider as hidden q -->
                  <p>Value: {{ input(j = j, type="number", value = 0) }}
                    Units: <select name="{{j.linkId}}">
                    <option value="">""</option>
                    <option value="mph">mph</option>
                    <option value="miles/sec">miles/sec</option>
                    <option value="feet/sec">feet/sec</option>
                    <option value="m/sec">m/sec</option>
                  </select>
                 </p>

                  {% elif j.type == "string" %}
                  <p>{{ input(j = j, type="text", size = 144) }}</p>

                  {% elif j.type == "url" %}
                  <p>{{ input(j = j, type="url") }}</p>

                  {% elif j.type == "time" %}
                  <p>{{ input(j = j, type="time") }}</p>

                  {% elif j.type == "date" %}
                  <p>{{ input(j = j, type="date") }}</p>

                  {% elif j.type == "dateTime" %}
                  <p>{{ input(j = j, type="datetime-local") }}</p>

                  {% elif j.type == "text" %}  <!-- need score consider as hidden q -->
                      <textarea name="{{j.linkId}}" rows="4" cols="100"></textarea>{{ '(Score = %s)'|format(get_score(j)|default('NA')) }}





                  {% endif %}
<br /><br />
                 {% endif %}

              {% endfor %}
          </ol>
<!-- **********end inner group level items********** -->

<!-- iterate through all the questions outside the group level - at the root level -->

<!-- display items -->
      {% elif i.type == "display" and i.extension %}
        <li style = 'color: grey;' id='{{i.linkId}}'>{{i.prefix|default('', true)}}{{i.text}} (Hidden text: extension {{i.extension[0].url}} = true)</li>
        <br />
      {% elif i.type == "display"%}
      <li id='{{i.linkId}}'><strong>{{i.prefix|default('', true)}}{{i.text}}</strong></li>
      <br />

<!-- questions -->
    {% else %}
      <li id='{{i.linkId}}'><strong>{{i.prefix|default('', true)}}</strong>  {{i.text}}</li>
      <br />
<!-- multiple choice question like above -->
      {% if i.type == "choice" and i.option %}
       {%if i.repeats %}
        {{ anyof_type(i) }}  <!-- macro --->
       {% else %}
        {{ choice_type(i) }}  <!-- macro --->
        {% endif %}
      {% endif %}

<!-- end root level questions -->



    {% endif %}  <!-- end outer group -->

  <br /><br /><hr /><br />

{% endfor %} <!-- end root level-->
  </ol>
<input type="submit" value="submit" style="font-size: larger"/>


</form>

<hr />
<!--  End Q content -->

{% endif %}
<!-- ********end outer group items**********-->

{% endblock %}
<!-- ******** end root level**********-->
