{% extends 'base.html' %}

{% from 'utils.html' import is_required, get_exclusive, get_score, input, choice_type, anyof_type with context %}}

{% block content %}

<p>{{session['intro']|safe}}</p>

{%if j %}
<figure>
  <img src="static/images/bbox_to_client.png" style="height:123px; width:500px;">
 <figcaption style="padding-left: 150;">
   Service returns question {{session['q_num'] + 1}}</a>
 </figcaption>
</figure>
<figure>
  <img src="static/images/client_update.png" style="height:123px; width:500px;">
 <figcaption style="padding-left: 150;">
   Render and display question {{session['q_num'] + 1}}</a>
 </figcaption>
</figure>
  <!-- ******** update Questionnaire with next answer **********-->
<div style="background-color:#e6f2ff;">
<form action='{{url_for('update_aqr') }}' method='POST'>

  <ol style = 'list-style-type: none;'>
   <h3>
    {% include 'questions.html' %} <!-- 'j' == item -->
  </h3>
  </ol>
</div>

  <!-- ======== post to server =========-->
  <br />
  <input type="submit" value="Click Here to update QuestionnaireResponse with answer to question {{session['q_num'] + 1}}" style="color:blue;font-size:150%;"/>



  {% else %}


  <h3>Question {{session['q_num']}} Answered</h3>

  <!-- ======== post to server =========-->

  <form action='{{url_for('aq_view') }}' method='POST'>

   <img src="static/images/client_to_bbox.png" style="height:123px;
     width:500px;">
   <br/>
  <input type="submit" value="Click Here to 'POST' to Argonaut Adaptive Questionnaire Service" style="color:blue;font-size:150%;"/>
  {% endif %}

</form>



<hr />

<h3>Current State of QuestionnaireResponse</h3>

<p>step = {{ session['step'] }}</p>
<img src="static/images/Slide{{ session['step'] }}.png">

<p>Narrative:</p>
{{narr|safe}}

<pre style="white-space: pre-wrap;">
{{aqr}}
</pre>


{% endblock %}
