<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <img src="static/images/ArgonautProject_logo_black.png">
    </img>
    <title>Argonaut Project Questionnaire Test Renderer</title>
  </head>
  <body>
    <h1>Welcome to the Argonaut Project Questionnaire Test Renderer</h1>
    <p>
      See the <a href="https://github.com/argonautproject/questionnaire">Argonaut Scheduling GitHub repository</a> and <a href="https://argonautproject.github.io/questionnaire/">Draft IG</a> for more details.
    </p
    <div>Argonaut Project Questionnaire Test Renderer:  <a href="{{url_for('index')}}">Home</a>
  </div>
  <hr />
         {% block content %}{% endblock %}
  </body>
</html>
