<!--display items-->
{% if j.type == "display"%}
<li id='{{j.linkId}}'><strong>{{j.prefix|default('', true)}}{{j.text}}</strong>{{ get_hidden(j)|default('') }}{{ get_readonly(j)|default('') }}</li>
<br />

<!-- questions -->
{% else %}
  <li id='{{j.linkId}}'><strong>{{j.prefix|default('', true)}}</strong>  {{j.text}}{{ get_hidden(j)|default('') }}{{ get_readonly(j)|default('') }}</li>
  <br />
  <!--multiple choice question -->
  {% if (j.type == "choice" or j.type == "open-choice") and j.option %}
       {%if j.repeats %}
        {{ anyof_type(j) }}  <!--any of macro -->
       {% else %}
        {{ choice_type(j) }}  <!--one of macro -->
       {% endif %}


  {% elif j.type == "boolean"%} <!-- make this checkbox type -->
    <p>{{ input(j = j, type="checkbox", value="true") }}</p>

  {% elif j.type == "integer" %}
  <p>{{ input(j = j, type="number", value = 0, min = "0" ) }}</p>

  {% elif j.type == "decimal" %}
  <p>{{ input(j = j, type="number", value = 0, min = "0", step = "0.01") }}</p>

  {% elif j.type == "quantity" %}  <!-- need score consider as hidden q -->
  <p>Value: {{ input(j = j, type="number", value = 0) }}
    Units: <select name="{{j.linkId}}">
    <option value="">""</option>
    <option value="mph">mph</option>
    <option value="miles/sec">miles/sec</option>
    <option value="feet/sec">feet/sec</option>
    <option value="m/sec">m/sec</option>
  </select>
 </p>

  {% elif j.type == "string" %}
  <p>{{ input(j = j, type="text", size = 144) }}</p>

  {% elif j.type == "url" %}
  <p>{{ input(j = j, type="url") }}</p>

  {% elif j.type == "time" %}
  <p>{{ input(j = j, type="time") }}</p>

  {% elif j.type == "date" %}
  <p>{{ input(j = j, type="date") }}</p>

  {% elif j.type == "dateTime" %}
  <p>{{ input(j = j, type="datetime-local") }}</p>

  {% elif j.type == "text" %}  <!-- need score consider as hidden q -->
      <textarea name="{{j.linkId}}" rows="4" cols="100"></textarea>{{ '(Score = %s)'|format(get_score(j)|default('NA')) }}

  {% endif %}
  <br/><br/>

 {% endif %}
 <!-- end questions -->
