
{% macro is_required(k) %}
{% endmacro %}
<!-- {%raw%} disable this for now
{% macro is_required(k) %}
    {% if k.required %}
        required
    {% endif %}
{% endmacro %}
{%endraw%}-->
{% macro get_exclusive(k) %}
    {% if k.extension %}
          {% for m in k.extension %}
              {% if m.url == 'http://hl7.org/fhir/StructureDefinition/questionnaire-optionExclusive' and m.valueBoolean == True %}
              <span style="color:red">EXCLUSIVE OPTION</span>
             {% endif %}
          {% endfor %}
    {% endif %}
{% endmacro %}


{% macro get_score(k) %}
    {%- if k.extension -%}
          {%- for m in k.extension -%}
            {%- if m.url == 'http://fhir.org/guides/argonaut-questionnaire/StructureDefinition/extension-score' -%}
              {{m.valueDecimal}}
              {%- else -%}
                NA
             {%- endif -%}
          {%- endfor -%}
        {%- elif k.valueCoding.extension -%}
          {%- for m in k.valueCoding.extension -%}
            {%- if m.url == 'http://hl7.org/fhir/StructureDefinition/valueset-ordinalValue' -%}
            {{m.valueDecimal}}
            {%- else -%}
              NA
            {%- endif -%}
          {%- endfor %}
    {%- else -%}
      NA
    {%- endif -%}
{% endmacro %}



{%- macro input(j, type='text', value = '', size=20, min = '', step = '') %}
    <input type="{{ type }}" name="{{j.linkId}}" value="{{value|e }}" min="{{min|e }}" step="{{step|e }}" size="{{ size }}" {{ is_required(j) }}> {{ '(Score = %s)'|format(get_score(j)|default('NA')) }}<br />
{% endmacro -%}


{% macro choice_type(j) %}
  {% for k in j.option %}
     {% if k.valueCoding %}
       <input type='radio' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}' {{ is_required(j) }}/>{{ k.valueCoding.display}} {{ '(Score = %s)'|format(get_score(k)|default('NA')) }}  <br />
    {% else %}
        <input type='radio' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}}  {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} <br />
    {% endif %}
  {% endfor %}
  {% if j.type == 'open-choice' %}
  <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }} />Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;"  }}/>
  {% endif %}
{% endmacro %}


{% macro anyof_type(j) %}
    {% for k in j.option %}
      <!-- on the item - for codings -->
      {% if k.valueCoding %}
         <input type='checkbox' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}'{{ is_required(j) }} />{{ k.valueCoding.display}} {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} {{get_exclusive(k)}}<br />
      {% else %}
        <input type='checkbox' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}}  {{ '(Score = %s)'|format(get_score(k)|default('NA')) }} <br />
       {% endif %}
    {% endfor %}
    {% if j.type == 'open-choice' %}
    <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }}/>Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;" />
    {% endif %}
{% endmacro %}
