
{% macro is_required(k) %}
{% endmacro %}
<!-- {%raw%} disable this for now
{% macro is_required(k) %}
    {% if k.required %}
        required
    {% endif %}
{% endmacro %}
{%endraw%}-->
{% macro get_exclusive(k) %}
    {% if k.extension %}
          {% for m in k.extension %}
              {% if m.url == 'http://hl7.org/fhir/StructureDefinition/questionnaire-optionExclusive' and m.valueBoolean == True %}
              <span style="color:red">EXCLUSIVE OPTION</span>
             {% endif %}
          {% endfor %}
    {% endif %}
{% endmacro %}

{% macro get_hidden(k) %}
    {% if k.extension %}
          {% for m in k.extension %}
              {% if m.url == 'http://hl7.org/fhir/StructureDefinition/questionnaire-hidden' and m.valueBoolean == True %}
              <span style="color:red">(HIDDEN ITEM)</span>
             {% endif %}
          {% endfor %}
    {% endif %}
{% endmacro %}

{% macro get_readonly(k) %}
    {% if k.readOnly == True %}
            <span style="color:red">(READONLY)</span>
    {% endif %}
{% endmacro %}


{% macro get_score(k) %}
    {%- if k.extension -%}
          {%- for m in k.extension -%}
            {%- if m.url == 'http://fhir.org/guides/argonaut-questionnaire/StructureDefinition/extension-score' -%}
              {{ '(Score = %s)'|format(m.valueDecimal) }}
             {%- endif -%}
          {%- endfor -%}
        {%- elif k.valueCoding -%}
          {%- if k.valueCoding.extension -%}
            {%- for m in k.valueCoding.extension -%}
              {%- if m.url == 'http://hl7.org/fhir/StructureDefinition/valueset-ordinalValue' -%}
              {{ '(Score = %s)'|format(m.valueDecimal) }}

              {%- endif -%}
            {%- endfor %}
          {%- endif -%}
    {%- endif -%}
{% endmacro %}



{%- macro input(j, type='text', value = '', size=20, min = '', step = '') %}
    <input type="{{ type }}" name="{{j.linkId}}" value="{{value|e }}" min="{{min|e }}" step="{{step|e }}" size="{{ size }}" {{ is_required(j) }}>{{ get_score(j)|default('') }}{{ get_hidden(j)|default('') }}{{ get_readonly(j)|default('') }}<br />
{% endmacro -%}


{% macro choice_type(j) %}
  {% for k in j.option %}
     {% if k.valueCoding %}
       <input type='radio' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}' {{ is_required(j) }}/>{{ k.valueCoding.display}} {{ get_score(k)|default('') }}  <br />
    {% else %}
        <input type='radio' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}} {{ get_score(k)|default('') }} <br />
    {% endif %}
  {% endfor %}
  {% if j.type == 'open-choice' %}
  <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }} />Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;"  }}/>
  {% endif %}
{% endmacro %}


{% macro anyof_type(j) %}
    {% for k in j.option %}
      <!-- on the item - for codings -->
      {% if k.valueCoding %}
         <input type='checkbox' name='{{j.linkId}}' value='{{k.valueCoding.display}}|{{k.valueCoding.system}}|{{k.valueCoding.code}}'{{ is_required(j) }} />{{ k.valueCoding.display}} {{ get_score(k)|default('') }} {{get_exclusive(k)}}<br />
      {% else %}
        <input type='checkbox' name='{{j.linkId}}' value='{{k.valueString}}' {{ is_required(j) }}/>{{k.valueString}} {{ get_score(k)|default('') }}  <br />
       {% endif %}
    {% endfor %}
    {% if j.type == 'open-choice' %}
    <input type="radio"  name="{{j.linkId}}" value="" {{ is_required(j) }}/>Other <input type="text" name="{{j.linkId}}" value="" style="width: 200px;" />
    {% endif %}
{% endmacro %}
