<p>
  This application uses the <i>{{ref_server_name}}</i> FHIR reference implementation at <code>{{ref_server}}</code> as the Assessment Bank.</p>

<h4>Example Questionnaires available for testing:</h4>
<form name="myForm" action='{{url_for('q_view') }}' method="post">
  <input type="radio" name="options" id="option1" value="{{ ref_server }}Questionnaire/eTAtxwTlJcwLaR-aif62yGg3" required> Rand 36-Item Health Survey 1.0</input><br>
  <input type="radio" name="options" id="option1" value="{{ ref_server }}Questionnaire/questionnaire-example-audit" required> The Alcohol Use Disorder Identification Test (AUDIT) Form</input><br>
  <input type="radio" name="options" id="option2" value="{{ ref_server }}Questionnaire/questionnaire-example-asq3"> Ages and Stages Questionnaire (ASQ-3) Sample 16 Month Questionnaire</input><br>
  <input type="radio" name="options" id="option3" value="{{ ref_server }}Questionnaire/questionnaire-example-dast"> Drug Abuse Screening Test (DAST-10)</input><br>
  <input type="radio" name="options" id="option4" value="{{ ref_server }}Questionnaire/questionnaire-example-housing"> Housing Instability Questionnaire</input><br>
  <input type="radio" name="options" id="option5" value="{{ ref_server }}Questionnaire/questionnaire-example-phq9"> Patient Health Questionnaire-9 (PHQ-9)</input><br>
  <input type="radio" name="options" id="option6" value="{{ ref_server }}Questionnaire/questionnaire-example-sampler">Argonaut Questionnaire Sampler</input><br>

<!-- ===========not available in 3.4 for AWS deployment
<br />
<input type="checkbox" name="translate" value="es"> Spanish Language Version
<br />  <br />
-->

<input type="submit" value="Choose Example Questionnaire" style="color:blue;font-size:300%;">
</form>
