{% extends 'base.html' %}

{% from 'utils.html' import is_required, get_exclusive, get_score, input, choice_type, anyof_type %}}

{% block content %}

<!-- select Q --->

{% include 'q_menu.html' %}

<!-- end select Q --->


<!-- Q content -->

<!-- Q  views  -->
{% if q %}
<a href="{{ ref_server }}Questionnaire/{{q.id}}">Questionnaire as XML</a>
<br />
<a href="{{ url_for("qjson_view") }}">Questionnaire as JSON</a>
<br />
<!-- end  Q  views  -->
<!--  as AQ  -->
<br />
<!-- if not housing -->

{% if q.title != 'Housing Questions' %}
  <a href="{{ url_for("aq_view") }}"><strong>Questionnaire presented as Adaptive Questionnaire</strong></a>
{% endif %}

<!-- end as AQ  -->



<h3>{{q.title}}</h3>
<hr />
<p><i>Copyright information: {{q.copyright|safe}}</i></p>
<br /><br />
<form action='{{url_for('qr_view') }}' method='POST'>

<ol style = 'list-style-type: none;'>
<!-- ********root level**********-->
{% for i in q.item %}

<!-- ********outer group**********-->
     {% if i.type == "group" %}

      {% if i.text and not i.extension %}  <!-- check if hidden stub in for now need to add url later -->
        <h4>{{i.text}}</h4>
      {% endif %}



      <!-- iterate through all the questions in the groups -->
      <ol style = 'list-style-type: none;'>

<!-- **********group level items********** -->

            {% for j in i.item %}

{% include 'questions.html' %}

              {% endfor %}
          </ol>
<!-- **********end inner group level items********** -->

<!-- iterate through all the questions outside the group level - at the root level -->

<!-- display items -->
      {% elif i.type == "display" and i.extension %}
        <li style = 'color: grey;' id='{{i.linkId}}'>{{i.prefix|default('', true)}}{{i.text}} (Hidden text: extension {{i.extension[0].url}} = true)</li>
        <br />
      {% elif i.type == "display"%}
      <li id='{{i.linkId}}'><strong>{{i.prefix|default('', true)}}{{i.text}}</strong></li>
      <br />

<!-- questions -->
    {% else %}
        {% set j = i %}
        {% include 'questions.html' %}
<!-- end root level questions -->



    {% endif %}  <!-- end outer group -->

  <br /><br /><hr /><br />

{% endfor %} <!-- end root level-->
  </ol>
<input type="submit" value="submit" style="color:blue;font-size:150%;"/>


</form>

<hr />
<!--  End Q content -->

{% endif %}
<!-- ********end outer group items**********-->

{% endblock %}
<!-- ******** end root level**********-->
